<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="coffset-3ol-8 mt-3">
    <h3>Listing details</h3>
  </div>
  <div class="card col-6 offset-3 show-card">
    <img
      class="card-img-top show-img"
      src="<%= listing.image.url %>"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        <b><%= listing.title %></b> <br />
        <%= listing.description %> <br />
        &#8377;<%= listing.price.toLocaleString("en-IN") %> <br />
        <%= listing.location %> <br />
        <%= listing.country %>
      </p>
    </div>
  </div>
  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3 edit-btn"
      >Edit</a
    >
    <form method="POST" action="/listings/<%= listing._id %>?_method=Delete">
      <button class="btn btn-dark offset-3">Delete</button>
    </form>
  </div>
</div>

<div class="coffset-3ol-8">
  <hr />
  <h4>Leave Review</h4>
  <form class="mb-3" action="/listings/<%= listing.id %>/reviews" method="post">
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label"> Rating</label>
      <input
        class="form-range"
        type="range"
        min="1"
        max="3"
        id="rating"
        name="reviews[rating]"
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">commrnt</label>
      <textarea
        class="form-control"
        name="reviews[comment]"
        id="comment"
        cols="38"
        rows="10"
      ></textarea>
    </div>
    <button>Submit</button>
  </form>
  <hr />
  <p> <b>All Reviews</b></p>
  <ul>
    <div class="row">
    <% for (const review of listing.reviews) { %>
<div class="card col-5 mb-3">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"><%= review.comment %></p>
      <p class="card-text"><%= review.rating %> star</p>
    </div>
    <form 
      action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=Delete" 
      method="POST"
      class=" btn btn-dark btn-sm">Delete
    </form>
  </div>
    <% } %>
  </div>
  </ul>
</div>
